# Tuple

**Tuple is sequence of value,value can be any type. They are immutable.**

In [1]:
lst = ((1,5,5,8)) # converting to list
a = list(lst)
a

[1, 5, 5, 8]

In [2]:
a[3] = 6 # changing list element
a

[1, 5, 5, 6]

In [3]:
b = tuple(a) # converting list to tuple
b

(1, 5, 5, 6)

In [4]:
lst # it will not change it's original form

(1, 5, 5, 8)

**it is not necessary to close in parenthesis.**

In [5]:
t = 'v','g','f','r','w'

In [6]:
type(t)

tuple

In [7]:
t2 = ('a') # the value inside parenthesis is not a tuple.
type(t2)

str

In [8]:
t1 = tuple()
t1
print(type(t1))

<class 'tuple'>

In [9]:
tt = tuple('lupins') # if argument is sequence of string ,list or tuple ,the result is tuple with element.
tt

('l', 'u', 'p', 'i', 'n', 's')

In [10]:
tt[4]

'n'

In [11]:
tt[1:5]

('u', 'p', 'i', 'n')

# you can not modify tuple element.

**You  can not  modify the elements but you can replace one tuple with another.**

In [12]:
tup = tuple("jainkings")
tup

('j', 'a', 'i', 'n', 'k', 'i', 'n', 'g', 's')

In [13]:

tup = ('t',) + tup[3:6]
tup

('t', 'n', 'k', 'i')

In [14]:
(0,1,2)<(0,3,4)

True

In [15]:
(0,1,200)<(0,3,4)

True

**Above, python goes with 0 with 0 then 1 with 3 here, python finds difference and it gave result.
it won't go further to compare 200**

In [16]:
(100,1,200)<(0,3,4)

False

**the testimony of above statement.**

In [17]:
a,b = b,a

left side is tuple of variables and right side is tuple of expressions, each value is assigned to it's respective varible**

In [18]:
address = 'himanshuengineer02@gmail'

uname,domain = address.split("@")
uname

'himanshuengineer02'

In [19]:
domain

'gmail'

**split is list of two elements**

# Tuple as Return value.

**Built in function divmod takes two arguments & return a tuple of two values**

**quotient**

**remainder**

In [20]:
f = divmod(8,5)
f

(1, 3)

**OR**

In [21]:
quot, rem = divmod(8,5)
quot

1

In [22]:
rem

3

In [23]:
def min_max(f):
    return min(f),max(f)

In [24]:
min(1,8,87)

1

In [25]:
max(58,85,98)

98

**Variable lengh Argument tuples**

**function can take variable number of arguments,parameter name that begins with * gathers arguments into tuple.**

In [26]:
def printall(*args):
    print(args)

In [27]:
printall(1,8,9,7,8,'l',';','ir@n')

(1, 8, 9, 7, 8, 'l', ';', 'ir@n')

In [28]:
#t = (7,2)
#divmod(t) # divmod expected two argument

In [29]:
t = (9,2)
divmod(*t)

(4, 1)

# Lists & Tuples

**zip**

**zip is built in function that takes two or more sequences and returns a list of tuples where each tuple contains one element from each sequence**

In [30]:
t = "ijk"
s = [1,5,8]
z = zip(t,s)
z

**zip object is a kind of iterator**

In [31]:
for pair in zip(t,s):
    print(pair)

('i', 1)
('j', 5)
('k', 8)

In [32]:
list(zip(t,s))

[('i', 1), ('j', 5), ('k', 8)]

In [33]:
dict(zip(t,s))

{'i': 1, 'j': 5, 'k': 8}

**if the sequence is not the same length then resul is length of shorter one**

In [34]:
list(zip("iam","salman"))

[('i', 's'), ('a', 'a'), ('m', 'l')]

In [35]:
 s1 = list(zip(t,s))
s1

[('i', 1), ('j', 5), ('k', 8)]

In [36]:
for letter, number in s1:
    print(letter,number)

i 1
j 5
k 8

**if you want elements of sequence and their indices, you can use the buit-in-function enumerate:**

In [37]:
for index,element in enumerate('alonebuthappy'):
    print(index,element)

0 a
1 l
2 o
3 n
4 e
5 b
6 u
7 t
8 h
9 a
10 p
11 p
12 y

# Dictionaries & tuples

**Dictionaries have a method called items that returns a sequence of tuples where each tuple is a key-value pair.**

In [38]:
dc = {'c': "cat","d":"dog","g":"goal"}
dc.items()

dict_items([('c', 'cat'), ('d', 'dog'), ('g', 'goal')])

**Using for loop we can iterate key-value pair**

In [39]:
for key,value in dc.items():
    print(key,value)

c cat
d dog
g goal

**we can create dictionary by combining dict & zip.**

In [40]:
d = dict(zip("cdg",range(3)))
d

{'c': 0, 'd': 1, 'g': 2}